.custom-form {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 100px;
    padding-top: 50px;
    gap: 20px;
}
.custom-form-header {
    text-align: start;
}
.custom-form-header h1{
    color: black;
    font-weight: 600;
}   
.custom-form-header p{
    color: rgb(110, 100, 100);
    font-size: 18px;
}